branches:
  only:
    - master
env:
  global:
    - secure: "tqMICNzlFxX9rVnEeFITTjw8Dy+PTnQFNV7c1/LjLjlLKGVr6okRs/BQTpLBPogHadKazLdNcX40ClAMA1Tfnqk3qZ0u1lfqEDGT6cj85vHmiAEMnyS1p5iKQjC3xt/+CurpaBj35Um72I2rzG3uIcpDK0YubWHI3uzVu30v0+ex0iOELMi9pCozntLjnRxPruzL+5UTEce7s+zWM3TiZUz5Ivt+Tn3jZZlq3yHFL3uNNnNj166R4LL0qesfMB9uFmuXrM3b24qaZeFNG9/kowERx42bXeI4A4y6rhOZnjN4Gs3bVnxbGVK3QbYy4wSpJIrdZ/zhfQg5jlnCeu9TsKGT6HjEXZjvqMABiO1oBrneRRsqzGHI3rvYnPVp6wEyYzRCCI0joNyHi0KBvuzKTzOAuOhYcn1+y+MDBpRfbQtjpMsG25UmLG+sxJ9Hlhq9PLp4+UnRQvgPxJTcATNKCTepV2RTGEb4xixYYE92kPZfP3imE9WNDA5larKBFXFg05E50miLbAL/lmcbcG5B+q+YMY0X2lE1BkYrdFoTsfVBSIC7IsMAqWsBJEbFjGjsOsw4vpLkBA+TN1hPOcrBoVQjMwids2+8flg3iw7HkaSsDzdpq/x2hk7X9AsQZE/crVCjBDUWMdKg9Vhtd1oL7TOKlsN3RCCfDIZHTwLDgiI="
    - secure: "m0mV1wXo0WpD42hXzOS5jYcWwNzbXuhESHp6f9kQxruHWED7+Fhdj9VQNq8aAMcilDeAD+jnMZ/jSaHyakWO/FXNSprUiA8aP9C8pKmAhdFetOc9rsTu43rKB5OIMAr6EET+Q5r6usJyn0Pic1oqg0gKhD5AhKsJ+4vkQOV6OM0BriUfYbMgqGz5j5/z3EUIo+XeXSguh4bI9bC+rwz39IMwVZ4eB34CYGFINDUk8b72zDCM2BsQD+WffotbkjxqzR4zWzJIDMERDnDcqE22Yu+h5mFYjE7FM0chT7mz+DlVwnuV/rYD/+O3L45jzsrjpeSEosO4AhsnfAwdVgmPE8XQYD6KD4GUWwIPra4+GChfLkucfi8YlbxC91R0yZyFGmeqEjyPQ3m3UbDi1fVOFmxsVDlBb1XvyMUh1xYfV0pO/HTtHQ2YnHyEYfIAFzNuBnSYr8HEB6eXPGDcZqtp3cInuJv7R9uML5OAw2cpQXCbx/5Rs03l3fOLtoF7jzLk5pmyKoXPr5k0VNL1nsvct4C4+YGM4pVdxE2QJKe1R8EozXm1njrL+vQQtwhVqP+MT5w/uvfDfSrd7ath7cMUnSQefmMRoPxuuGQ9K4ud1NVbBB04wSwxTMNbxmzaVfKSpB9mKrQeXfGuuANn6TscSYIJraSx77IrolpAiltRpnI="
    - secure: "TzRigew/vWzLuyD3S/BeIyl3CIqRqPXVy9HbvLDpW1sOgUK99EJlPwK+uBJsA2ywLoJdaw85/unhsoWxM16WdSoC4BjVi99yenYA725Wrw9A3DA+u2nlWByYQT0bTlSHEdgoU54dnsgo5lqcSzXGEwwuZku8eHRY526wgnLVQxoixowl3fBuf0luC453tGZI5cFoLg0IJsaqoID3gGSe4tHJyFTD46Gf3EIiLeVAK13hcuemGqL5DDpQFVtSHdevFb2WV8yXOvDjXAPopw8JRfSUmrYAvzxt7PzjQ+cJwSbru6oQnVUpafUEcOZSQLBHjvnXJtwz6/UykOIHVgse4LGcx187Ecu1G+UmZm1Y9nGYUEPadzlfnPI3PP+KodppcizSRyl7tBy50G/Z5elKAbcnQnw+ZOssgaYsxwNfM8II7Vj6QB5ClDuSiodT9l+BiZn/+6w2zuqurTokXm8DxhRTZyBnmyeE+HIMByQA6osQuUaAa/vHzuvhtxO8MmuSUXgKOX7v8qgBnc/sWIeqmrcm+mZ8TDMOrEAZU0qSftPcTx/mRuuIco5qbgjyRBxKSPnrd7GMIaZUwcyMmpTsc5377ZRVXgVTaGqjZszmlvK0uvTHRgc2S9imvLN5BLYo4pWWHIZl3MzWktFn7jROkDCKfZegJGuC98z/Q1SLubc="
    - secure: "mrN1+Hif3cgvrUA76a9KPN/ZMBjIzuuMqeMR7lz3QB5VYSvpyf2i2fYDLQ/w56XCpmOgRIx9QegadKsQMdb5PaxfBC/Iyy6cv/V+zAksDBtClEn49pBOQ/wnQdp9DWD+tpzdmymrybKL+jBSwLORD0shOn7YFXgG2nEvbzZCbVLblW2QoWykzNjyWAi74SaoLnUySeSGA0zViqoE5xaEqCQtKBzPPh04bdotewY0lJKNYv3lg7NjwPLESMV5/M8LNHQdELC29UJ0MzIc0uTa+IjC5JzvpsbyITVnjDoHqxPDml0IiXLaD86vIqIcUx0NjxpfecvlpSb2tHasrpwKmk5Ni36CpHil2lzeh9MHco0Q1H7DsOt/Fj1OIQk95CxzUaUpfE+IHnKsvBewe1RgfQ7kGzxeabUl1EqoXjNZFwSjDs14Y702kDMvI68o48H6z5ysNkSl+2sMO0KW1TMxlHG9KhOWEcYzOZWsPm04hTIieBT0Ga7XADdjhpAlE+9sOJM93CfizcTRZ2nZ2aOMysya6p8RRi8ppCAnM+hfTwIStX8o1fdUWMyvvjdHu+H5TxT/Nm8mWAg5iJdW6ExlEmu6WneT1FdObmsNSylo3vu23Yeuen5Ac42YNBYSteoP/9yaT2ptxKA6xVWJE1ICYddXFi1iAY6QyAGBANi9zSs="
    - secure: "pEvGBS6sKR7DYE41SpLlVD2cDbL4TJ+1862ckdjF60mZS6AT6K8Q+ARcdNEVX+WUFEGqmtLjXbMfeufNL3EAyWpX6PbzakxFFphlbGN+J7pAGcGE0cI/J8gigOQksZrOeVygmlCQu+3ck6pupCDNNQw+UarlROjXW0REDUG4Y7GiXPGATZS18lNaLDC4CU0/NfB6CZIImCiyzNlBAxv1UU8l4pIsLtZWwo60EYn6xq/QJmATDaTqSvOoXOGuXVhgDhejORK3Qx6qW5pQn70XYz4o77bekUqzgDOdNCmV3wRpntNQ/34xJR2Ed0+RhJu4bu3jvpLLM0oTynQ2j4Aeyg7IO624ODDQbNqrNCAmUGCaOMqjQFgEH8vYOXKhBe9+W7WSqw+ShNI/ep8E+WXiCx/GFsIEVYVwbsuxMtnIEMFEIIgDXVbLPKQkZbsMA6z/dEG4wj2rNWMwh9xZBkAOgPNjH54vKYlkIw0zHt8RFg7t7xFRFV0eip2Sb6EEXlO615o5okjNcaPBgEG5iVJSwQ0Bw7DgBcC64lr7zcmGXygKIUur4MqztmObj6P22k6X2SMOQbVDT6bwGa/hXxwOv8T+kY1vLfxWsoAkU0wFmdK5vfc9KUZPFKQ3mU+4v0h6YUsJsCXhdcVz2DUiF3L/TmJzjzIyZ/sPqNIOd3kZ4C4="
  matrix:
    - CASS=cassandra
    - CASS=cassandra2
language: scala
scala:
  - 2.10.4
  - 2.11.7
jdk:
  - oraclejdk8
sudo: required
dist: trusty
cache:
  directories:
    - ~/.ivy2
    - ~/travis-deps
  apt: true
before_install:
  - curl https://raw.githubusercontent.com/PagerDuty/pd-travis-deps/master/zookeeper | /bin/sh
  - curl https://raw.githubusercontent.com/PagerDuty/pd-travis-deps/master/kafka | /bin/sh
  - curl https://raw.githubusercontent.com/PagerDuty/pd-travis-deps/master/$CASS | /bin/sh
  - cd $TRAVIS_BUILD_DIR
  - mkdir ~/.sbt
  - cp .travisci/credentials.sbt ~/.sbt
  - sed -i "s|%{password}|$ARTIFACTORY_PASS|" ~/.sbt/credentials.sbt
before_script:
  - ~/travis-deps/start-zookeeper.sh && sleep 3
  - ~/travis-deps/start-kafka.sh && sleep 3
  - (JVM_OPTS="" ~/travis-deps/start-cassandra.sh && sleep 6)
  - ~/travis-deps/kafka_2.11-0.10.1.1/bin/kafka-topics.sh --create --zookeeper localhost:2181 --replication-factor 1 --partitions 16 --topic scheduler-integration-test-queue

script:
  - sbt -Dsbt.log.noformat=true -sbt-dir ~/.sbt ++$TRAVIS_SCALA_VERSION test && bash "$TRAVIS_BUILD_DIR/.travis.release.sh"
